<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0.txt

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and limitations under the License.

-->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cowave.hub.admin.infra.flow.mapper.FlowLeaveMapper">

    <resultMap id="LeaveaMap" type="com.cowave.hub.admin.domain.flow.Leave">
        <result property="id"          column="id"         />
        <result property="leaveType"   column="leave_type" />
        <result property="reason"      column="reason"     />
        <result property="beginTime"   column="begin_time" />
        <result property="endTime"     column="end_time"   />
        <result property="applyUser"   column="apply_user"    />
        <result property="applyTime"   column="apply_time" />
        <result property="processId"   column="process_id" />
        <result property="processStatus"   column="process_status" />
    </resultMap>

    <sql id="LeaveField">
        l.id,
        l.leave_type,
        l.reason,
        l.begin_time,
        l.end_time,
        l.apply_user,
        l.apply_time,
        l.process_id,
        l.process_status
    </sql>

    <select id="nextId" resultType="Long" useCache="false">
        SELECT nextval('flow_leave_SEQUENCE')
    </select>

    <select id="list" resultMap="LeaveaMap">
        select
        u.user_name applyUserName,
        <include refid="LeaveField"/>
        from flow_leave l
        left join hub_user u on l.apply_user = u.user_id
        <where>
            <if test="leave.applyUser != null">
                and l.apply_user = #{leave.applyUser}
            </if>
            <if test="leave.leaveType != null">
                and l.leave_type = #{leave.leaveType}
            </if>
            <if test="leave.processStatus != null">
                and l.process_status = #{leave.processStatus}
            </if>
            <if test="leave.beginTime != null">
                <![CDATA[
                and l.end_time >= #{leave.beginTime}
                ]]>
            </if>
            <if test="leave.endTime != null">
                <![CDATA[
                and l.begin_time <= #{leave.endTime}
                ]]>
            </if>
        </where>
    </select>

    <select id="info" resultMap="LeaveaMap">
        select
        u.user_name applyUserName,
        <include refid="LeaveField"/>
        from flow_leave l
        left join hub_user u on l.apply_user = u.user_id
        where id = #{id}
    </select>

    <insert id="insert">
        insert into flow_leave(id, apply_user, leave_type, reason, begin_time, end_time, apply_time, process_id)
        values (#{id}, #{applyUser}, #{leaveType}, #{reason}, #{beginTime}, #{endTime}, #{applyTime}, #{processId})
    </insert>

    <update id="update">
        update flow_leave
        set begin_time = #{beginTime},
            end_time   = #{endTime},
            leave_type = #{leaveType},
            reason     = #{reason}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from flow_leave where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="changeProcessStatus">
        update flow_leave set process_status = #{processStatus} where id = #{id}
    </update>
</mapper>
