<configuration>
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %t%X{tid} [%level] %m%n" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <root level="error">
        <appender-ref ref="console"/>
    </root>
    <logger name="org.testcontainers" level="info"/>
    <logger name="tc" level="error"/>
    <logger name="com.github.dockerjava" level="error"/>
    <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="error"/>
</configuration>
