<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0.txt

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and limitations under the License.

-->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cowave.hub.meter.infra.code.dao.mapper.dto.ColumnMapper">
    <resultMap id="columnMap" type="com.cowave.hub.meter.domain.code.DbTableColumn">
        <result column="id" property="id"/>
        <result column="table_id"         property="tableId"/>
        <result column="db_type"          property="dbType"/>
        <result column="column_name"      property="columnName"/>
        <result column="column_comment"   property="columnComment"/>
        <result column="column_typename"  property="columnTypename"/>
        <result column="column_type"      property="columnType"/>
        <result column="column_precision" property="columnPrecision"/>
        <result column="column_scale"     property="columnScale"/>
        <result column="column_default"   property="columnDefault"/>
        <result column="is_primary"       property="isPrimary"/>
        <result column="is_notnull"       property="isNotnull"/>
        <result column="is_increment"     property="isIncrement"/>
        <result column="sort"             property="sort"/>
        <result column="update_time"      property="updateTime"/>
    </resultMap>

    <select id="options" resultType="com.cowave.hub.meter.domain.code.SelectOption">
        select c.id as key, c.column_name || '｜' || c.column_typename || '｜' || COALESCE(c.column_comment, '') as label
        from db_table_column c, model_info m, db_table t
        where m.id = #{modelId} and m.table_id = t.id and t.id = c.table_id
    </select>

    <select id="list" resultMap="columnMap">
        select d.db_type,c.id,c.column_name,c.column_comment,c.column_typename,c.column_type,c.column_precision,c.column_scale,
               c.column_default,c.sort,c.is_primary,c.is_notnull,c.is_increment
        from db_table_column c, db_info d, db_table t
        where c.table_id = #{tableId} and c.table_id = t.id and t.db_id = d.id
        order by c.sort
    </select>

    <select id="info" resultMap="columnMap">
        select d.db_type,c.id,c.table_id,c.column_name,c.column_comment,c.column_typename,c.column_type,c.column_precision,
               c.column_default,c.sort,c.is_primary,c.is_notnull,c.is_increment
        from db_table_column c, db_info d, db_table t
        where c.id = #{id} and c.table_id = t.id and t.db_id = d.id
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into db_table_column(table_id,column_name,column_comment,column_typename,column_type,column_precision,column_scale,column_default,
                                     sort,is_primary,is_notnull,is_increment,update_time)
        values(#{tableId},#{columnName},#{columnComment},#{columnTypename},#{columnType},#{columnPrecision},#{columnScale},#{columnDefault},
               #{sort},#{isPrimary},#{isNotnull},#{isIncrement},#{accessTime})
    </insert>

    <update id="update">
        update db_table_column
        set table_id         = #{tableId},
            column_name      = #{columnName},
            column_comment   = #{columnComment},
            column_typename  = #{columnTypename},
            column_type      = #{columnType},
            column_precision = #{columnPrecision},
            column_scale     = #{columnScale},
            column_default   = #{columnDefault},
            sort             = #{sort},
            is_primary       = #{isPrimary},
            is_notnull       = #{isNotnull},
            is_increment     = #{isIncrement},
            update_time      = #{accessTime}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from db_table_column where id in
        <foreach collection="array"  item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="switchNotnull">
        update db_table_column
        set is_notnull     = #{flag},
            update_time    = #{user.accessTime}
        where id = #{id}
    </update>

    <update id="switchPrimary">
        update db_table_column
        set is_primary     = #{flag},
            update_time    = #{user.accessTime}
        where id = #{id}
    </update>

    <update id="switchIncrement">
        update db_table_column
        set is_increment   = #{flag},
            update_time    = #{user.accessTime}
        where id = #{id}
    </update>

    <delete id="deleteDbColumns">
        with tables as (select t.id from db_table t where t.db_id = #{dbId})
        delete from db_table_column c using tables where c.table_id = tables.id
    </delete>
</mapper>
