<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0.txt

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and limitations under the License.

-->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cowave.hub.meter.infra.code.dao.mapper.dto.IndexMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into db_table_index(table_id, index_type, index_name, is_unique, column_name, column_position)
        values (#{tableId}, #{indexType}, #{indexName}, #{isUnique}, #{columnName}, #{columnPosition})
    </insert>

    <select id="list" resultType="com.cowave.hub.meter.domain.code.DbTableIndex">
        select t.table_name tableName,
               i.index_name indexName, i.is_unique isUnique, i.column_name columnName, i.column_position columnPosition
        from db_table_index i, db_table t
        where t.id = #{tableId} and t.id = i.table_id
        order by i.column_name, i.column_position
    </select>

    <delete id="deleteDbIndex">
        with tables as (select t.id from db_table t where t.db_id = #{dbId})
        delete from db_table_index i using tables where i.table_id = tables.id
    </delete>
</mapper>
