<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0.txt

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and limitations under the License.

-->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cowave.hub.meter.infra.code.dao.mapper.dto.ModelMapper">
    <resultMap id="modelMap" type="com.cowave.hub.meter.domain.code.ModelInfo">
        <result column="id" property="id"/>
        <result column="table_id" property="tableId"/>
        <result column="table_name" property="tableName"/>
        <result column="table_comment" property="tableComment"/>
        <result column="class_name" property="className"/>
        <result column="class_comment" property="classComment"/>
        <result column="api_context" property="apiContext"/>
        <result column="auth_prefix" property="authPrefix"/>
        <result column="is_excel" property="isExcel"/>
        <result column="is_access" property="isAccess"/>
        <result column="is_log" property="isLog"/>
        <result column="log_type" property="logType"/>
        <result column="remark" property="remark"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="options" resultType="com.cowave.hub.meter.domain.code.SelectOption">
        select m.id as key, m.class_name || '｜' || COALESCE(m.class_comment, '') as label from model_info m
    </select>

    <select id="list" resultMap="modelMap">
        select m.id,m.class_name,m.class_comment,m.is_access,m.is_excel,m.update_time,
               m.api_context,m.is_log,m.log_type,t.table_name,t.table_comment
        from model_info m
        left join db_table t on t.id = m.table_id
        <where>
            <if test="className != null and className != ''">
                and m.class_name like concat('%', #{className}, '%')
            </if>
        </where>
    </select>

    <select id="info" resultMap="modelMap">
        select m.id,m.table_id,m.class_name,m.class_comment,m.api_context,
               m.auth_prefix,m.is_excel,m.is_access,m.remark,m.is_log,m.log_type,
               t.table_name
        from model_info m
        left join db_table t on t.id = m.table_id
        where m.id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into model_info(table_id,class_name,class_comment,api_context,is_log,log_type,
                              auth_prefix,is_excel,is_access,remark,update_time)
        values(#{tableId},#{className},#{classComment},#{apiContext},#{isLog},#{logType},
               #{authPrefix},#{isExcel},#{isAccess},#{remark},#{accessTime})
    </insert>

    <update id="update">
        update model_info
        set app_id         = #{appId},
            table_id       = #{tableId},
            model_name     = #{modelName},
            class_name     = #{className},
            class_comment  = #{classComment},
            api_context    = #{apiContext},
            comment_author = #{commentAuthor},
            auth_prefix    = #{authPrefix},
            is_excel       = #{isExcel},
            is_access      = #{isAccess},
            is_log         = #{isLog},
            log_type       = #{logType},
            remark         = #{remark},
            update_time    = #{accessTime}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from model_info where id in
        <foreach collection="array"  item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="switchExcel">
        update model_info
        set is_excel       = #{flag},
            update_time    = #{user.accessTime}
        where id = #{id}
    </update>

    <update id="switchAccess">
        update model_info
        set is_access      = #{flag},
            update_time    = #{user.accessTime}
        where id = #{id}
    </update>

    <update id="switchLog">
        update model_info
        set is_log         = #{flag},
            update_time    = #{user.accessTime}
        where id = #{id}
    </update>
</mapper>
